/*
*{

}

header{

}
body{
  width: 100%;
}

.container{
  width: 100%;
}

.row{
  height: 700px;
  width: 95%;
  margin: 10px auto;
  border: 1px solid black;
}



.car{
  background: url('cars/car2.svg') no-repeat;
  background-size: cover;
  border: 1px solid black;
  position: absolute;
  height: 80px;
  width: 80px;
}*/
body {
     height: 100%;
     width: 100%;
     margin: 0;
 }

.begin{
  margin: -20px -50px;
  position:relative;
  top:50%;
  left:50%;
}

 #container {
     position: relative;
     height: 400px;
     width: 90%;
     border: 2px solid red;
     background-color: aliceblue;
     margin: 20px auto;
     overflow: hidden;
 }

 #car {
    position: absolute;
    background: url('cars/car.svg');
    height: 42px;
    width: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 20%;
    left: 15%;
}

.pole {
    position: absolute;
    height: 150px;
    width: 50px;
    background-color: red;
    right: -50px;
}

#pole_1 {
    /*height: 100px;*/
    top: 0;
}

#pole_2 {
    /*height: 200px;*/
    bottom: 0;
}



 #score_div {
   text-align: center;
   font-size: 50px;
   font-size: 40px;
 }
#restart_btn {
    width: 20%;
    margin: 20px 40%;
    padding: 25px;
    /*background-color: blue;*/
    /*color: white;*/
    font-size: 35px;
    border: none;
    cursor: pointer;
}
